#background-image {
  background: linear-gradient(rgba(71, 70, 70, 0.199), rgba(0, 0, 0, 0.193)),
    url("https://www.realsimple.com/thmb/Tt5tGYHE2EhlpAMWZyAzkgJr-vI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/fresh-pumpkin-pie-recipe-2-2000-38a8be0c80094dc0ac691b90128ddb50.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 30%;
  height: 80vh;
}

@media (max-width: 600px) {
  #background-image {
    height: 75vh;
    background-position: center;
  }
}

.order-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#order-button {
  padding: 20px;
  font-size: 35px;
  color: #e18234;
  transition: 0.4s;
  background-color: white;
  border: 2px solid white;
}

#order-button:hover {
  cursor: pointer;
  color: white;
  background-color: #e18234b8;
  border: 2px solid #e18234b8;
}
