* {
  font-family: "Cormorant", serif;
  font-weight: 600;
}

body {
  margin: 0;
}

#topbar {
  padding: 30px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.565);
  align-items: center;
}

#page-title {
  font-size: 70px;
  padding: 0 20px;
  color: #e3995d;
}

#logo {
  width: 100px;
  opacity: 50%;
}

#background-image {
  background: linear-gradient(rgba(71, 70, 70, 0.199), rgba(0, 0, 0, 0.193)),
    url("https://www.realsimple.com/thmb/Tt5tGYHE2EhlpAMWZyAzkgJr-vI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/fresh-pumpkin-pie-recipe-2-2000-38a8be0c80094dc0ac691b90128ddb50.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 30%;
  height: 80vh;
}

@media only screen and (max-width: 600px) {
  #background-image {
    height: 75vh;
    background-position: center;
  }

  #page-title {
    font-size: 55px;
  }
}

#order-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#order-button {
  padding: 20px;
  font-size: 35px;
  color: #e18234;
  transition: 0.4s;
  background-color: white;
  border: 2px solid white;
}

#order-button:hover {
  cursor: pointer;
  color: white;
  background-color: #e18234b8;
  border: 2px solid #e18234b8;
}

#footer {
  padding: 30px 20px 30px;
  background-color: #6b6969d5;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.834);
  border-top: 2px solid rgba(128, 128, 128, 0.565);
}

.contact-icon {
  width: 18px;
  margin: 2px;
}

/* Second Route */

#cart-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

#cart-icon {
  padding: 10px;
  opacity: 60%;
}

#cart-info {
  font-size: 25px;
  padding: 5px 10px 5px 5px;
  opacity: 60%;
}

#shop-button {
  margin: 10px;
  color: white;
  background-color: #e18234;
  font-size: 20px;
  opacity: 75%;
  border: 2px solid #e18234b8;
  padding: 10px 20px;
  transition: 0.4s;
}

#shop-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.heading {
  font-size: 40px;
  text-align: center;
  padding: 20px;
  opacity: 60%;
}
