/* File with CSS for Topbar and Footer and other things common to routes*/

* {
  font-family: "Cormorant", serif;
  font-weight: 600;
}

body {
  margin: 0;
}

#topbar {
  padding: 30px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.565);
  align-items: center;
}

#page-title {
  font-size: 70px;
  padding: 0 20px;
  color: #e3995d;
}

#logo {
  width: 100px;
  opacity: 50%;
}

#background-image {
  background: linear-gradient(rgba(71, 70, 70, 0.199), rgba(0, 0, 0, 0.193)),
    url("https://www.realsimple.com/thmb/Tt5tGYHE2EhlpAMWZyAzkgJr-vI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/fresh-pumpkin-pie-recipe-2-2000-38a8be0c80094dc0ac691b90128ddb50.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 30%;
  height: 80vh;
}

@media only screen and (max-width: 600px) {
  #background-image {
    height: 75vh;
    background-position: center;
  }

  #page-title {
    font-size: 55px;
  }
}

.heading {
  font-size: 40px;
  text-align: center;
  padding: 20px;
  opacity: 60%;
}
