.cart-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

#cart-icon {
  padding: 10px;
  opacity: 50%;
}

#cart-quantity {
  font-size: 25px;
  padding: 5px 10px 5px 5px;
  opacity: 50%;
}

#shop-button {
  margin: 10px;
  color: white;
  background-color: #e18234;
  font-size: 20px;
  opacity: 75%;
  border: 2px solid #e18234b8;
  padding: 10px 20px;
  transition: 0.4s;
}

#shop-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.grid-container {
  margin: 50px 25px 100px;
}

#order-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20em);
  grid-auto-rows: 1fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.order-widget {
  display: grid;

  border: 2px solid rgba(128, 128, 128, 0.565);
  color: rgb(99, 98, 98, 0.88);
  padding: 30px;
  font-size: 20px;
  justify-items: center;
}

.cake-image {
  width: 100%;
  height: 13rem;
  object-fit: cover;
}

.cake-price {
  font-size: 24px;
}

#cart-button {
  margin-top: 5px;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  background-color: #849882;
  transition: 0.4s;
}

#cart-button:hover {
  cursor: pointer;
  background-color: #e18234;
  border: 2px solid #e18234;
}

.order-widget-info {
  margin: 3px;
}
